{{#if isEditing}}
  {{edit-todo class='edit' value=todo.title
                           focus-out='save'
                           insert-newline='save'}}
{{else}}
  {{todo-checkbox action="updateStatus" todo=todo}}
  {{! input type='checkbox' checked=todo.isCompleted class='toggle' action="updateStatus"}}
  <label {{action 'editTodo' on='doubleClick'}}>{{todo.title}}</label>
  <button {{action 'removeTodo'}} class='destroy'></button>
{{/if}}
